.step-1 h3 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-size: 20px;
    justify-self: center;
    border-bottom: 3px solid #54C7F3;
    width: 90vw;
}

.wrapper-1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
}

.wrapper-1 img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

.wrapper-1 p {
    color: black;
    font-family: "Lato", "sans-serif";
    font-weight: 100;
    font-size: 18px;
    justify-self: center;
}

.wrapper-1 h4 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 20px;
    justify-self: center;
}

.wrapper-1 select {
    color: black;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid #54C7F3;
    letter-spacing: .15em;
    background-color: white;
    width: 20vw;
    justify-self: center;
    margin: 0 auto;
}

/* TO DO - ADD THE ARROW CHANGE - CODE IN JS
SOURCE : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select 

/*style the arrow inside the select element:
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid #54C7F3;
  border-color: IN our case - #54C7F3;
}

*/

/*point the arrow upwards when the select box is open (active):
.select-selected.select-arrow-active:after {
  border-color: in our case arrow color: #54C7F3;
  top: 7px;
}

*/

@media screen and (min-width: 569px) {
    .wrapper-1 {
        display: grid;
        grid-template-columns: 50vw 1fr 1fr;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .wrapper-1 img {
        width: 30vw;
        height: auto;
        margin: 0 auto;
    }

    .wrapper-1 h4 {
        font-size: 18px;
        place-self: center;
        width: 20vw;
 

    }

    .wrapper-1 select {
        place-self: center;
        justify-self: start;
         width: 10vw;
    }

}


@media screen and (min-width: 769px) {
     .wrapper-1 {
        display: grid;
        grid-template-columns: 50vw 1fr 1fr;
        width: 75vw;
        padding-left: 10vw;
        padding-right: 15vw;
    }
    
.wrapper-1 img {
          margin-left: 0;
    }
     .wrapper-1 h4 {
        width: 15vw;
    }
    
     .wrapper-1 select {
         width: 10vw;
    }
}


@media screen and (min-width: 1100px) {
      .wrapper-1 {
        display: grid;
        grid-template-columns: 45vw 1fr 1fr;
        width: 60vw;
        padding-left: 10vw;
        padding-right: 30vw;
    }
    
       .wrapper-1 h4 {
        width: 10vw;
    }
    
     .wrapper-1 select {
         width: 5vw;
    }
}

