* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*mobile first */

.header {
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: 60% 1fr 1fr 1fr;
    padding-top: 2vh;
    padding-left: 3vh;
}

.header .logo img {
    height: auto;
    width: 35vw;
}

.header .profile img {
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.header .search img {
    width: 6vw;
    height: auto;
    cursor: pointer;
}

.header .menu img {
    width: 5.5vw;
    height: auto;
    cursor: pointer;
}

.section_1 {
    background-color: #F9FAF9;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}

.section_1 .sub-img-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.section_1 .sub-img-2 {
    display: none;
}

.section_1 .sub-img-1 h1 {
    color: #54C7F1;
    font-family: "Lato", "sans-serif";
    font-size: 16px;
    justify-self: center;
}

.section_1 .sub-img-1 h2 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-size: 16px;
    justify-self: center;
    width: 60vw;
}

.section_1 .sub-img-1 h3 {
    color: #F1267C;
    font-family: "Lato", "sans-serif";
    font-size: 18px;
    justify-self: center;
}

.section_1 .sub-img-1 h4 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-size: 14px;
    justify-self: center;
    text-decoration: line-through;
}

.section_1 .sub-img-1 img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

.section_1 .sub-img-1 button {
    background-color: #F7B230;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25vw;
    height: 4vh;
    justify-self: center;
    color: white;
    font-family: "Lato", "sans-serif";
    font-weight: 100;
    letter-spacing: 1px;
     cursor: pointer;
}

.section_1 .sub-img-1 button:hover {
    background-color: #F09D00;
}

/* sidenav */
    
    #sidenav {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9;
    bottom: -10vh;
    background-color: #3F3F3F;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 1s;
    padding-top: 20px;
}

#sidenav a {
    padding: 80px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    align-content: center;
    font-family: "Lato", "sans-serif";
    font-weight: 100;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#sidenav a:hover {
    color: #f15d62;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
}


@media screen and (min-width: 500px) {

    .header {
        grid-template-columns: 80% 1fr 1fr 1fr;
    }

    .header .logo img {
        height: auto;
        width: 180px;
    }


    .header .profile img {
        width: 20px;
    }

    .header .search img {
        width: 20px;
    }

    .header .menu img {
        width: 20px;
    }
}

@media screen and (min-width: 850px) {

    .header {
        grid-template-columns: 87% 1fr 1fr 1fr;
    }

    .section_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height:auto;
        padding-left: 5vw;
        padding-right: 5vw;
        grid-gap: 5vw;
    }
    .section_1 .sub-img-1{
         width: 40vw;
        height: auto; 
    }
    
    .section_1 .sub-img-1 img{
           width: 35vw;
        height: auto; 
    }
    
    .section_1 .sub-img-1 h2 {
    width: 30vw;
}
    .section_1 .sub-img-2 {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        width: 40vw;
        height: auto;
    }

.section_1 .sub-img-2 h1 {
    color: #54C7F1;
    font-family: "Lato", "sans-serif";
    font-size: 16px;
    justify-self: center;
}

.section_1 .sub-img-2 h2 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-size: 16px;
    justify-self: center;
    width: 30vw;
}

.section_1 .sub-img-2 h3 {
    color: #F1267C;
    font-family: "Lato", "sans-serif";
    font-size: 18px;
    justify-self: center;
}

.section_1 .sub-img-2 h4 {
    color: black;
    font-family: "Lato", "sans-serif";
    font-size: 14px;
    justify-self: center;
    text-decoration: line-through;
}

.section_1 .sub-img-2 img {
    width: 35vw;
    height: auto;
    margin: 0 auto;
}

.section_1 .sub-img-2 button {
    background-color: #F7B230;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 15vw;
    margin-top: 30px;
    height: 4vh;
    justify-self: center;
    color: white;
    font-family: "Lato", "sans-serif";
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
}

.section_1 .sub-img-2 button:hover {
    background-color: #F09D00;

}
    .section_1 .sub-img-1 button{
        width: 15vw;
    margin-top: 30px; 
    }
    
    

}

