/* desktop first*/
* {
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div {
  /* position: relative; */
  padding: 10px;
  margin: 10px;
  /* background-color: lightgreen; */
  border: 1px black solid;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}

button {
  width: auto;
}

/*..................................*/
/* subscription.html*/
.landing-page {
  grid-area: 1/1/1/3;
}

.landing-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.land-imgs {
  margin: 0;
  width: 50vw;
  height: 100vh;
  background-image: url(/img-landing/Group-84.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* .land-imgs {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  width: 50vw;
  height: 80vh;
}

.land-desk {
  grid-area: 1/1/4/4;
  background-image: url(/img-landing/TRANSPAREnt.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-mobile {
  grid-area: 2/3/5/5;
  background-image: url(/img-landing/Group-75.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
} */

.land-bodytext {
  margin: 0;
  width: 50vw;
  height: 100vh;
  background-image: url(/img-landing/Group-85-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* .land-title {
  width: 50vw;
  height: 20vh;
  background-image: url(/img-landing/subscribe-to-title-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-title-blue {
  width: 25vw;
  height: 10vh;
  background-image: url(/img-landing/PRINT-AND-DIGITAL-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  
}

.land-title-yellow {
  background-image: url(/img-landing/save-767-dkk.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icons-land-table {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.icon-land-1 {
  background-image: url(/img-landing/18-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-body-1 {
  background-image: url(/img-landing/18-bodytext-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-land-2 {
  background-image: url(/img-landing/20-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-body-2 {
  background-image: url(/img-landing/20-bodytext-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-land-3 {
  background-image: url(/img-landing/6-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-body-3 {
  background-image: url(/img-landing/6-bodytext-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-land-4 {
  background-image: url(/img-landing/8-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.land-body-4 {
  background-image: url(/img-landing/8-bodytext-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
} */

.table-offers {
  grid-area: 2/1/2/3;
}

.table-offers-content {
  grid-template-columns: 50vw 50vw;
}

.table-price {
  width: 40vw;
}

.table-price .price {
  width: 30vw;
  height: 8vh;
  background-image: url(/img-landing/Group-86-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.table-price .price-content {
  width: 30vw;
  height: 10vh;
  background-image: url(/img-landing/Group-87-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.table-sum-term {
  width: 40vw;
  height: 20vh;
}

.table-term {
  width: 30vw;
  height: 8vh;
  background-image: url(/img-landing/Group-88-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.term-content {
  width: 30vw;
  height: 10vh;
  background-image: url(/img-landing/Group-89-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.form-area {
  grid-area: 3/1/3/3;
}

/*......................*/
/* kind of footer*/
.other-offers {
  grid-area: 4/1/4/3;
}

.about-us {
  grid-area: 5/1/5/3;
}
/* mobile */
